{% load static %}
<!DOCTYPE html>
<html>
<head>
  	<meta charset="Utf-8">
  	<meta name="author" content="migherize">
  	<link rel="icon" href="{% static 'img/ajedrez.jpg' %}" alt="My image">
	<title>{% block title%} Chess-Live {% endblock %}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
  	<link rel="stylesheet" type="text/css" href="{% static 'css/plataforma.css' %}">
</head>
<body class="layout-default">
  <section class="hero is-fullheight is-medium is-dark is-bold" id="fondo" >
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <article class="card is-rounded " id="carta">

        				{% block prueba %}

        				{% endblock %}
				
              	{% block chess-live %}

				        {% endblock %}

              	{% block login %}

              	{% endblock %}

              	{% block register %}

              	{% endblock %}

              	{% block forget %}

              	{% endblock %}

                {% block contactanos %}

                {% endblock %}

              </article>
            </div>
          </div>
        </div>
  
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul class="foot">
          <li class="is-active" style="margin-left: auto; margin-right: auto;"><a href="{% url 'contact' %}"> <i class="fas fa-chess-king">  </i> Contactanos</a></li>
        </ul>
      </div>
    </nav>
  </div>
  </section>
</body>
</html>


