{% extends 'plataforma/post_list.html' %}
{% load static %}

{% block prueba %}

<div class="card-content hero" id="carta-contenido">
	<figure class="image is-centered" id="imagen-cont">
		<img class="is-rounded is-centered" src="{% static 'img/ajedrez.jpg' %}" alt="My image">
	</figure>

<form method="post">
    {% csrf_token %}
	{{form}}
	<input type="submit" name="submit">
</form>
</div>
<div class="control" style="text-align:center;">
	<a href="https://github.com/migherize/Cursos-Online-de-Ajedrez" style="color:white;"> <i class="fab fa-github"></i> @migherize</a>
</div>

{% endblock %}
